/*CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (width <= 900px) {
    .boards-container {
      flex-direction: column;
      gap: 20px;
    }
    .game-over-container{
        margin-top: 20%;
        height: 50vh;
        width: 50vw;
        background-color: blueviolet;
        position:absolute;
    
    }
  }

.main-container{
    padding: 30px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    align-items: center;
}

.boards-container{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
}
.player-board-container, .computer-board-container{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 5%;
}

.player-board, .computer-board{
    background-image: linear-gradient(to right, blue, rgb(44, 119, 231));
    background-color:aqua;
    display: flex;

    flex-wrap: wrap;
    width: 400px;
    height: 400px;
} 

/*DOM*/
.grid-box{
    background-color: aqua;
    border: solid 1px black;
    width: calc(100%/10);
    height: calc(100%/10);
}

.grid-box:hover{
    cursor: pointer;
    filter: brightness(50%);
}

.ship{
    background-color: grey;
}

.game-over-container{
    height: 300px;
    width: 400px;
    border-radius: 20px;
    background-image: radial-gradient(circle at center, yellow, green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.game-start-container{
    height: 300px;
    width: 400px;
    border-radius: 20px;
    background-image: radial-gradient(circle at center, rgb(30, 0, 255), rgb(6, 108, 210));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.grey-background{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 50% opaque black background */
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winner-text{
    font-size: 4rem;
    color: rgb(42, 45, 245);
}

.title-text{
    font-size: 4rem;
    color: black;
}

.hide{
    display: none;
}

.play-again-btn, .rand-display-btn, .play-game-btn{
    padding: 5px;
    border-radius: 10px;
    font-size: 1.5rem;
}


.rand-display-btn:hover{
    background-color:aquamarine;
    /* color: white; */
    cursor: pointer;
}

.play-again-btn:hover,.play-game-btn:hover{
    background-image: conic-gradient(from 0deg at 50% 50%, orange, purple, pink);
    color: white;
    cursor: pointer;
}

.turn-display{
    color: coral;
}

.black, .red{
    width: 25px;
    height: 25px;
}

.black{
    background-color: black;
}

.red{
    background-color: red;
}

.legends{
    display: flex;
    font-size: larger;
    gap: 10px;
}

.legends-container{
    display: flex;
    gap: 5px;
}